.Game {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: calc(10px + 2vmin);
  }
  
  .Game-background {
    margin: 15px;
    /* width: 533px;
    height: 333px; */
    /* width: 60vw;
    height: 40vw; */
    width: 150vmin;
    height: 80vmin;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
      }

    .Text {
      color: black;
    }